body {
    background-color: $backgroundBody;
    color: $textColor;
    font-family: "Inconsolata", monospace;

    * {
        margin: 0;
        padding: 0;
    }
}

.container {
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 15px; 
}
