$backgroundBody: #1b1a17;
$elementsColor: #1f1e1b;
$contextColor: #03c3ff;
$textColor: #f0e3ca;
// My Skills cards
$cardHtml: #fc490b;
$cardJs: #ffdf00;
$cardCSS3: #2196f4;
$cardGit: #f25234;
$cardSCSS: #ca669b;
// My Works 
$projectCardFill: #21201d;
$projectCardButton: #32312e;