.burger {
    display: none;
    width: 48px;
    height: 48px;
    background-color: transparent;
    z-index: 1;
    border: none;
    outline: none;
    
    @media (max-width: 660px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__line {
        display: block;
        width: 36px;
        height: 4px;
        background-color: $textColor;
        position: relative;
        transition: background-color 0.3s 0s;
        
        &::before, &::after {
            content: "";
            display: block;
            width: 36px;
            height: 4px;
            background-color: $textColor;
            position: absolute;
            transition: transform 0.3s, top 0.3s 0.3s;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }
}
.burger.active {
    .burger__line {
        background-color: transparent;

        &::before,&::after {
            transition: top 0.3s, transform 0.3s 0.3s;
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
} 