.about-me {
    padding: 64px 0;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        @media (max-width: 660px) {
            flex-direction: column;
        }
    }
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__discription {
        font-weight: 300;
        font-size: 24px;
        max-width: 904px;

        @media (max-width: 443px) {
            font-size: 18px;
        }
    }
}