.footer {
    &__content {
        padding: 64px 0;
        display: flex;
        gap: 64px;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        @media (max-width: 660px) {
            padding: 35px 0;
        }
    }
    &__discription {
        max-width: 339px;
        line-height: 1.1;
    }
    &__text {
        font-size: 20px;
    }
    &__contacts {
        max-width: 384px;
    }
    .logo {
        display: block;
        width: 165px;
        height: 44px;
        margin-bottom: 16px;
        @media (max-width: 768px) {
        margin: 0 auto 16px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
    .context-title {
        margin-bottom: 16px;
        text-align: center;
        @media (max-width: 768px) {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

.contacts-list {
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 660px) {
        flex-direction: column;
    }
    
    &__item {
    }
}
.social-link {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    &__icons {
        fill: $textColor;
        width: 32px;
        height: 32px;
    }
    &__title {
        font-size: 24px;
        color: $contextColor;
        font-family: "Inconsolata", monospace;
    }
}