.header {
    // position: fixed;
    width: 100%;
    z-index: 4;
    background-color: #1b1a17be;
    backdrop-filter: blur(5px);

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 25.5px 0 20.5px;
        align-items: center;
        max-width: 1200px ;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
            padding: 20.5px 0 16.5px;
        }
    }

    .logo {
        img {
            max-width: 146px;
        }
    }
}
.menu {
}

.menu__list-links {
    display: flex;
    column-gap: 64px;
    margin: 0;
    padding: 0;
}
.menu__item {
    list-style: none;
}
.anchor-link {
    color: $textColor ;
    font-size: 20px;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;

    @include hover_color($contextColor);
}
