.welcome {

    &__content {
        display: flex;
        justify-content: space-between ;
        align-items: center;
        padding: 75.5px 0 72.5px ;
        
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 64px;
            padding: 128px 0;
        }
    }
}

.hero {
    max-width: 448px;

    &__main-title {
        color: $contextColor;
        font-size: 64px;
        font-weight: 900;
        margin-bottom: 13px;

        @media (max-width: 768px) {
            margin-bottom: 3px;
        }

    }
    &__subtitle {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 11px ;

        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }
    &__discription {
        font-size: 20px;
        font-weight: 300;
    }
}
.avatar {
    width: 629px;
    height: 575px;
    background-image: url(../../img/Avatar_text.png);
    background-repeat: no-repeat;
    position: relative;

    &__rectangle {
        border-radius: 29% 71% 64% 36% / 30% 30% 70% 70%;
        width: 373px;
        height: 371px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__rectangle--foto {
        overflow: hidden;
        z-index: 3;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    &__rectangle--first {
        background-color: $contextColor;
        opacity: 0.72;
        transform: translate(-50%, -50%) rotate(-24deg);
        z-index: 1;
    }
    &__rectangle--second {
        opacity: 0.72;
        background-color: $textColor;
        transform: translate(-50%, -50%) rotate(30deg);
        z-index: 2;
    }
}